/**Credits to Greattack from youtube for the style*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}



body {
    background-color: orange;
}



/**Styling and making the quiz simple and basic as I want to focus on Javascript*/
#test {
    color: black;
    text-align: center;
}

#intro {
    display: none;
    position: absolute;
    top: 20%;
    left: 32%;
    width: 450px;
    background-color: white;
    border-radius: 10px;
}

#instruct_title {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(91, 148, 233);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
}

#rules {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}

#intro_list {
    padding: 30px;
    font-size: 15px;
}

.info {
    margin: 5px;
}

.controls {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 10px;
    font-size: 20px;
    border-top: 1px solid rgb(91, 148, 233);
}

#quit {
    background: rgb(91, 148, 233);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 17px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
    margin-right: 10px;
}

#quit:hover {
    background:white; 
    color: rgb(47, 83, 138);
    
}

#reset {
    background: rgb(91, 148, 233);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 17px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
    margin-left: 10px;
}

#reset:hover {
    background: rgb(47, 83, 138);
    color: white;
}

/**Styling the quiz**/
.quiz_box {
    position: absolute;
    top: 20%;
    left: 32%;
    width: 450px;
    background-color: white;
    border-radius: 10px;
}

.quiz_box header {
    height:60px;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 1px 20px 1px rgb(47, 83, 138);
}

#title {
    font-size: 30px;
}

#timer {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width:120px;
    height: 50px;
    border: 3px solid rgb(91, 148, 233);
    border-radius: 20px;
    padding: 0 10px;
}


.hide {
    display: none;
}


.btn {
    color: black;
    font-weight: 300;
    width: 80%;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: left;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

/**Indicating to show whether the questions were correct or wrong, green for right, red for wrong.**/
.btn.correct {
    background-color: rgb(34, 211, 34);
    color: black
}

.btn.wrong {
    background-color: rgb(209, 80, 80);
    color: white;
}


#start-btn {
    position: absolute;
    top: 40%;
    left: 38%;
    background: rgb(91, 148, 233);
    color: white;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 40px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;

}

#next-btn {
    background: rgb(91, 148, 233);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 17px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
    margin-right: 10px;
}

#next-btn:hover {
    background: rgb(47, 83, 138);
    color: white;
}

#start-btn:hover {
    background: rgb(47, 83, 138);
    color: white;
}


/**Making sure the site is responsive**/
@media screen and (max-width: 576px) {
    app-container {
        background: white;
        width: 80%;
        max-width: 600px;
        margin: 100px auto;
        border-radius: 10px;
        padding: 20px;
    }

    .h1,
    h1 {
        font-size: 20px;
        text-align: center;
    }

    #instruct {
        font-size: 120%;
    }

    #question {
        font-size: 120%;
    }

    .btn {
        width: 110%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #app-container {
        background: white;
        width: 80%;
        max-width: 600px;
        margin: 150px auto;
        height: 700px;
        border-radius: 10px;
        padding: 20px;
    }

    .btn {
        color: black;
        font-weight: 300;
        width: 80%;
        border: 2px solid black;
        padding: 10px 20px;
        margin: 10px 0;
        text-align: left;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 200%;
    }
}