* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
background-color: orange;
}
/**Styling and making the quiz simple and basic as I want to focus on Javascript*/
#test {
    color: black;
    text-align: center;
}
#app-container {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
    
}

#instruct {
    padding: 10px;
    font-size: 220%;
    text-align: center;
}
#quiz{
    padding: 20px;
}
.quiz h2 {
    font-size: 40px;
}
#question {
    font-size: 200%;
}
.hide {
    display: none;
}
.btn {
    color:black;
    font-weight: 300;
    width: 80%;
    border: 2px solid black;
    padding: 10px  20px;
    margin: 10px 0;
    text-align: left;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}
.correct {
    background-color: rgb(34, 211, 34);
    color: black
}
.wrong {
   background-color: rgb(209, 80, 80);
   color: white;
}
#next-btn {
    width: 100px;
    background: rgb(91, 148, 233) ;
    color: white;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 20PX;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
   
}
#start-btn {
    background: rgb(91, 148, 233) ;
    color: white;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
   
}
#next-btn:hover {
    background: rgb(47, 83, 138);
    color: white;
}
#start-btn:hover  {
    background: rgb(47, 83, 138);
    color:white;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#total_que span {
    display: flex;

}

#total_que span p {
    font-weight: bold;
    padding: 0 12px;
    
}

/**Result box*/
#result_box {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#complete_text {
    font-weight: bold;
    font-size: 150%;
}

#score_test {
    text-align: center;
    font-size: 120%;
}

#score_test span p{
    font-weight: bolder;
}

#end_buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#end_buttons button {
    margin: 0 5px;
    font-weight: bold;
    padding: 12px;
    border-radius: 20px;
}

#restart {
    background: rgb(91, 148, 233) ;
    color: white;
    transition: all 0.3s;
}

#restart:hover {
    background: rgb(47, 83, 138);
    color:white;
}

#leave {
    background: rgb(91, 148, 233) ;
    color: white;
    transition: all 0.3s;
}

#leave:hover {
    background: rgb(47, 83, 138);
    color:white;
}

@media screen and (max-width: 576px) {
   app-container {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
}
.h1, h1 {
    font-size: 20px;
    text-align: center;
}
#instruct {
    font-size: 120%;
}

#question {
    font-size: 130%;
}

.btn {
    width: 110%;
}
   }

@media screen and (min-width: 768px) and (max-width: 1024px) {
 #app-container {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 150px auto;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
 }
 .btn {
    color: black;
    font-weight: 300;
    width: 80%;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: left;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 200%;
 }
}