* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(187, 148, 64);
}
#test {
    color: black;
    text-align: center;
}
#quiz-container {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    height: 300px;
    border-radius: 5PX;
    padding: 20px;
}